<%- include('../layout/head.ejs') %>
<% if (cars.length > 0) { %>
    <form action="/compare-cars" method="post" class="car-card-main-container" >
        <div class="compare-car-card-title" >
            <h2>Select Cars</h2>
            <button type="submit" class="btn btn-bluish" >Compare !</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="scroll-container" >
            <div class="car-card-container">
                <% cars.forEach(car => { %>
                    <a href="">
                        <div class="car-card" >
                            <div class="car-info">
                                <h3> <%= car.name %>  </h3>
                                <p> <%= car.manufacturer %>  </p>
                                <p>Added By : <%= car.addedBy %> </p>
                                <div class="select-car-checkbox">
                                    <input type="checkbox" name="cars" value="<%= car._id %>" >
                                </div>
                            </div>
                            <img src="<%= car.carImage %>" alt="" width="200" height="200" >
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>
    </form>
<% } else { %>
    <div class="null-container">
        <h2>Nothing To</h2>
        <h2>Compare</h2>
    </div>
<% } %>
<%- include('../layout/tail.ejs') %> 