<%- include('../layout/head.ejs') %>
    <h1>Profile Page</h1>
    <% if (successMessage) { %>
        <div class="success-message-box" >
            <p><%= successMessage %></p>
        </div>
    <% } %>
    <p> <%= userInfo.email %>  </p>
    <div>
        <% cars.forEach(car => { %>
            <p> <%= car.name %>  </p>
            <img src="<%= car.carImage %> " alt="" width="200" height="200" >
        <% }) %>
    </div>
<%- include('../layout/tail.ejs') %> 