<%- include('../layout/head.ejs') %>
    <% if (successMessage) { %>
        <div class="success-message-box">
            <p><%= successMessage %></p>
        </div>
    <% } %>
    <div class="user-info-box">
        <div class="user-info-left" >
            <img src=" <%= userInfo.profimg %>  " alt="profile_pic">
            <div>
                <h1><%= userInfo.firstname %> <%= userInfo.lastname %></h1>
                <p><%= userInfo.email %></p>
            </div>
        </div>
        <div class="user-info-right" >
            <a href="/addcar" class="btn btn-bluish" >Add Car</a>
        </div>
    </div>
    <div class="car-card-main-container">
        <% if (cars.length > 0) { %>
            <div class="car-card-title" >
                <h2>Your Collection</h2>
            </div>
            <div class="car-card-container">
                <% cars.forEach(car => { %>
                    <a href="/profile/<%= car._id %>">
                        <div class="car-card" >
                            <div class="car-info">
                                <h3> <%= car.name %>  </h3>
                                <p> <%= car.manufacturer %>  </p>
                            </div>
                            <img src="<%= car.carImage %>" alt="" width="200" height="200" >
                        </div>
                    </a>
                <% }) %>
            </div>
        <% } else { %>
            <div class="null-container">
                <h2>Nothing To</h2>
                <h2>Show</h2>
            </div>
       <% } %>
    </div>
<%- include('../layout/tail.ejs') %> 