<%- include('../layout/head.ejs') %>
    <h1> <%= car.name %>  </h1>
    <img src="/<%= car.carImage %>" alt="" width="200" height="200" >
    <a href="/editcar/<%= car._id %>">Edit</a>
<%- include('../layout/tail.ejs') %> 