<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <title><%= title %> </title>
</head>
<body>
    <div class="main-container" >
        <div class="nav-bar-container">
            <div class="nav-bar" >
                <div class="links" >
                    <div>
                        <a href="/" class="<%= path === 'home' ? 'active-link' : '' %>" >Home</a>
                        <a href="/cars" class="<%= path === 'cars' ? 'active-link' : '' %>" >Cars</a>
                        <a href="/compare" class="<%= path === 'compare' ? 'active-link' : '' %>" >Compare</a>
                    </div>
                    <% if (!isLoggedIn) { %>
                        <div>
                        <a href="/login" class="<%= path === 'login' ? 'active-link' : '' %>" >Login</a>
                        <a href="/register" class="<%= path === 'register' ? 'active-link' : '' %>" >Register</a>
                        </div>
                    <% } %>
                    <% if (isLoggedIn) { %>
                        <div>
                            <a href="/profile" class="<%= path === 'profile' ? 'active-link' : '' %>" >Profile</a>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                                <button type="submit" class="logout-btn" >Logout</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="second-container" >
            <div class="page-container" >
        