<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title><%= title %> </title>
</head>
<body>
    <div class="main-container" >
        <div class="nav-bar-container">
            <div class="nav-bar" >
                <div class="app-symbol" >
                    <h2><a href="/" class="<%= path === 'home' ? 'active-link' : '' %>" >Home</a></h2>
                </div>
                <div class="links" >
                    <div>
                        <a href="/cars" class="<%= path === 'cars' ? 'active-link' : '' %>" >Cars</a>
                        <a href="/compare" class="<%= path === 'compare' ? 'active-link' : '' %>" >Compare</a>
                        <% if (isLoggedIn) { %>
                            <a href="/addcar" class="<%= path === 'addcar' ? 'active-link' : '' %>" >Add-Car</a>
                        <% } %>
                    </div>
                    <% if (!isLoggedIn) { %>
                        <div>
                        <a href="/login" class="<%= path === 'login' ? 'active-link' : '' %>" >Login</a>
                        <a href="/register" class="<%= path === 'register' ? 'active-link' : '' %>" >Register</a>
                        </div>
                    <% } %>
                    <% if (isLoggedIn) { %>
                        <div>
                            <a href="/profile" class="<%= path === 'profile' ? 'active-link' : '' %>" >Profile</a>
                            <form action="/logout" method="post">
                                <button type="submit" class="logout-btn" >Logout</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="second-container" >
            <div class="page-container" >
        